.pmButton
  width: 20px

.subjectsInput
  width: 30px
  text-align: center

.subjectsForm
  width: 190px

.label
  text-shadow: 1px 1px red#ff371c
  font-family: "Times New Roman"
  font-size: 30px
  color: rgb(0, 0, 0)

.header
  width: 40px

.cell
  width: 40px
  height: 30px
  background-color: rgb(208, 241, 255)
  cursor: pointer

.field
  width: 1500px
  height: 3000px
  background-color: #e6e6e6
  border: 2px solid #9d9d9d

.circle
  width: 30px
  height: 30px
  background-color: #436600
  border: 2px solid
  border-radius: 25px
  position: relative

@keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
}

@keyframes rightMove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes downMove {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes leftMove {
    from {left: 200px;}
    to {left: 0px;}
}

@keyframes topMove {
    from {top: 200px;}
    to {top: 0px;}
}
